<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='css/style.css')}}">
    <title>Document</title>
</head>
    <body>
        <h1 id="loaded"></h1>

        <div id="scroller">

            <template id="template">
                <div class="box">
                    <div class="out">
                        <h4 id="title"></h4>
                        <span id="content"></span>
                    </div>
                </div>
            </template>
        </div>

        <div id="sentinel">
            <div id="spinner">--------</div>
        </div>

        <script src="{{url_for('static', filename='js/index.js')}}"></script>
    </body>
</html>